do_token = ""
region = ""
size = ""
droplet_count = 1
prefix = ""
# rancher_password = ""
# rke2_token = ""
# rke2_version= ""
# use_digitalocean_domain = true/false
# digitalocean_domain = ""
# kubeconfig_path = ""
# rancher_version = ""
# neuvector_install = true/false
# longhorn_install = true/false
# neuvector_version = ""
# longhorn_version = ""
# neuvector_external_ingress = true/false
# stackstate_install = true/false
# stackstate_license = ""
# stackstate_sizing = ""
# stackstate_create_oltp_ingress = true/false
# stackstate_rancher_oidc = true/false
# create_downstream_cluster = true/false
# downstream_droplet_count = 1
# downstream_cni = ""
# downstream_size = ""
# longhorn_downstream_install = true/false
# longhorn_downstream_version = ""
# neuvector_downstream_install = true/false
# neuvector_downstream_version = ""
# neuvector_downstream_external_ingress = true/false
# stackstate_downstream_license = ""
# stackstate_downstream_install = true/false
# stackstate_downstream_sizing = ""
# stackstate_downstream_create_oltp_ingress = true/false
# stackstate_downstream_rancher_oidc = true/false'